<% if user.errors.any? %>
  <h3 class="text-danger"><%= user.errors.count %>
    errors prohibited this obj from being saved:
  </h3>
  <ul class="text-danger">
    <% user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>